* {
    margin: 0;
    padding: 0;
    font-family: 'Bradley Hand', cursive;
}

.header {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
}

.login-btn {
    background-color: #ff4d4d; 
    color: white; 
    border: none; 
    border-radius: 5px;
    padding: 6px 30px; 
    cursor: pointer; 
    font-size: 22px; 
    transition: background-color 0.3s;
    position: absolute; 
    right: 650px; 
    top: 600px; 
}

.content {
    align-items: center;
    position: absolute;
    top: 70px;
    right: 450px;
    color: whitesmoke;
    font-size: 90px;
}

.cont {
    align-items: center;
    position: absolute;
    top: 550px;
    right: 370px;
    color: whitesmoke;
}

.co {
    align-items: center;
    position: absolute;
    top: 320px;
    right: 460px;
    color: whitesmoke;
}

.c {
    align-items: center;
    position: absolute;
    top: 380px;
    right: 430px;
    color: whitesmoke;
}

@media (max-width: 768px) {
    .login-btn {
        font-size: 18px;
        /* padding: 15px 0px; */
        position: fixed;
        right: 150px;
        bottom: 20px;
        width: auto;
    }

    .content {
        font-size: 30px;
        top: 300px;
        right: 130px;
    }

    .cont, .co, .c {

        font-size: 2px !important; /* Apply font-size with !important */
        text-align: center;
        right: 5px;
        margin: 5px 5px;
    }

    .cont {
        top: 175px;
    }

    .co {
        top: 250px;
    }

    .c {
        top: 300px;
    }
}


@media (max-width: 480px) {
    .login-btn {
        font-size: 16px;
        /* padding: 0px 20px; */
    }

    .content {
        font-size: 24px;
        top: 60px;
    }

    .cont, .co, .c {
        font-size: 16px;
    }
}